  -----------
  Example
  -----------

#set( $dollar = '$' )

Yamcs Application Packaging

  This example binds the <<<bundle>>> goal of the yamcs-maven-plugin to the Maven <<<package>>> lifecycle phase. This makes Maven generate a Yamcs application with the command <<<mvn package>>>.
  
+--------------------------------------
<project>
  ...
  <packaging>jar</packaging>

  <properties>
    <!-- Check the latest version at https://yamcs.org -->
    <yamcsVersion>${yamcsVersion}</yamcsVersion>
  </properties>

  <dependencies>
    <dependency>
      <groupId>org.yamcs</groupId>
      <artifactId>yamcs-core</artifactId>
      <version>${dollar}{yamcsVersion}</version>
    </dependency>
    <dependency>
      <groupId>org.yamcs</groupId>
      <artifactId>yamcs-web</artifactId>
      <version>${dollar}{yamcsVersion}</version>
    </dependency>
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.yamcs</groupId>
        <artifactId>yamcs-maven-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>bundle-yamcs</id>
            <phase>package</phase>
            <goals>
              <goal>bundle</goal>
            </goals>
            <configuration>
              <formats>
                <format>tar.gz</format>
                <format>zip</format>
              </formats>
            </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+--------------------------------------
