 -----
 Introduction
 -----

#set( $dollar = '$' )


Yamcs Maven Plugin

  This is a Maven plugin for developing a Yamcs application. 

  Yamcs is an open source mission control framework built in Java. Its functionalities can be extended with your own custom code.
  
  Learn more about Yamcs at {{{https://yamcs.org}https://yamcs.org}}

  

* Goals Overview

*---------------------------------------*-------------------------------------------------------------*
 <<Goal>>                               | <<Description>>
*---------------------------------------*-------------------------------------------------------------*
 {{{./run-mojo.html}yamcs:run}}         | Run Yamcs as part of a Maven build.
*---------------------------------------*-------------------------------------------------------------*
 {{{./debug-mojo.html}yamcs:debug}}     | Run Yamcs in debug mode as part of a Maven build.
*---------------------------------------*-------------------------------------------------------------*
 {{{./bundle-mojo.html}yamcs:bundle}}   | Bundle a Yamcs application into a single archive file.
*---------------------------------------*-------------------------------------------------------------*

* Usage

  Instructions on how to use the Yamcs Maven Plugin can be found {{{./usage.html}here}}. Generally you will always need the following basic configuration:

+--------------------------------------
<project>
  ...
  <packaging>jar</packaging>

  <properties>
    <!-- Check the latest version at https://yamcs.org -->
    <yamcsVersion>${yamcsVersion}</yamcsVersion>
  </properties>

  <dependencies>
    <dependency>
      <groupId>org.yamcs</groupId>
      <artifactId>yamcs-core</artifactId>
      <version>${dollar}{yamcsVersion}</version>
    </dependency>
    <dependency>
      <groupId>org.yamcs</groupId>
      <artifactId>yamcs-web</artifactId>
      <version>${dollar}{yamcsVersion}</version>
    </dependency>
    ...
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.yamcs</groupId>
        <artifactId>yamcs-maven-plugin</artifactId>
        <version>${project.version}</version>
      </plugin>
    </plugins>
  </build>

</project>
+--------------------------------------

  Note that the Yamcs Maven Plugin does not enforce a specific version of Yamcs, nor does it download Yamcs automatically. You are expected yourself to define the desired version of Yamcs as a project dependency.
