  -----------
  Usage
  -----------

#set( $dollar = '$' )

Usage

  The Yamcs Maven Plugin helps you build a Yamcs application or plugin.

  Some familiarity with Maven and Java development is assumed.

* Project Structure

  Use this Maven archetype to kickstart a new Yamcs project:

+-------------------------
mvn archetype:generate -DgroupId=com.mycompany -DartifactId=myproject \
    -DarchetypeGroupId=${project.groupId} \
    -DarchetypeArtifactId=yamcs-archetype-quickstart \
    -DarchetypeVersion=${project.version}
+-------------------------

  This will generate a project structure in the following way:

------------------------------------------
myproject/
|-- README
|-- pom.xml
`-- src
    `-- main
        |-- java
        |   `-- com
        |       `-- mycompany
        |           `-- MyCustomTmLink.java
        `-- yamcs
            |-- etc
            |   |-- yamcs.example.yaml
            |   `-- yamcs.yaml
            `-- mdb
                `-- xtce.xml
------------------------------------------

  * Custom java classes go into <<<$\{project.basedir\}/src/main/java/>>>.

  * Yamcs configuration goes into <<<$\{project.basedir\}/src/main/yamcs/>>> in subfolders <<<etc/>>> and <<<mdb/>>>.

  []

  The pom.xml adds dependencies to the desired Yamcs modules. At least a dependency to <<<yamcs-core>>> is required. <<<yamcs-web>>> is another common dependency that makes Yamcs host a prebuilt copy of the Yamcs web interface.

+-----------------------------------------
<dependencies>
  <dependency>
    <groupId>org.yamcs</groupId>
    <artifactId>yamcs-core</artifactId>
    <version>${dollar}{yamcsVersion}</version>
  </dependency>
  <dependency>
    <groupId>org.yamcs</groupId>
    <artifactId>yamcs-web</artifactId>
    <version>${dollar}{yamcsVersion}</version>
  </dependency>
  ...
</dependencies>
+-----------------------------------------


* Running Yamcs

  To run a Yamcs application:

-------------------------
mvn yamcs:run
-------------------------

  By default, Yamcs will run from the <<<target/yamcs/>>> directory.

  This plugin will compile classes from your Maven project as necessary.


* Packaging a Yamcs application

  Running through Maven is useful for development and for creating prototypes, but it is not recommended for production environments. Instead bundle Yamcs together with your extensions and configurations in one integrated distribution:

+-------------------------
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>bundle-yamcs</id>
            <phase>package</phase>
            <goals>
              <goal>bundle</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
</project>
+-------------------------

  Then run:

-------------------------
mvn package
-------------------------
